<div class="about-text">
  <h2>About Movie Shock</h2>
  <article>Movie Shock dolor sit, amet consectetur adipisicing elit. Et ut illo quae distinctio ratione soluta, laboriosam facere culpa, placeat quas accusantium sit a animi voluptatibus inventore repudiandae. Quisquam, repellendus reprehenderit.
  </article>
  <article>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ut illo quae distinctio ratione soluta, Movie Shock laboriosam facere culpa, placeat quas accusantium sit a animi voluptatibus inventore repudiandae. Quisquam, repellendus reprehenderit.
  </article>
  <article >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ut illo quae distinctio ratione soluta, laboriosam facere culpa, placeat quas accusantium sit a animi voluptatibus inventore repudiandae. Quisquam, Movie Shock repellendus reprehenderit.
  </article>
  <img class="founder" src="/bill.jpg" alt="Our Founder">
</div>