
  <main>
    <h1>"Goodbye to Yahoo Finance"</h1>
    <p>Now you can say "goodbye to yahoo finance" and "hello to google finance" instead. Because Yahoo Finance no longer exists. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore magnam error ducimus neque. Repellendus possimus, nulla obcaecati delectus beatae esse expedita nesciunt, blanditiis dolore totam non consectetur, cupiditate adipisci voluptatibus?</p>
  </main>
  
