
  <main>
    <div>
      <form action="/">
        <input name="stock_symbol" type="text" placeholder="Enter Stock Symbol">
        <button>CHECK NOW</button>
      </form>
    </div>
    <div class="stock-information">
    
      <div>Company name: <%="#{@company_name}  #{@symbol}"%></div>
      <div>Latest price: <%="#{@latest_price}"%></div>
  
    </div>
