* {
  box-sizing: border-box;
}


body {
  background-image: url('https://www.fillmurray.com/50/50');
  background-repeat: repeat-x;

}

.logo {
  display: block;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 10px auto;
}

article img {
  width: 100%;
}

article footer {
  border-top: 1px dotted black;
}


article {
  background-color: mistyrose;
  margin-bottom: 10px;
  padding: 10px;
}

main {
  background-color: plum;
  display: inline-block;
  vertical-align: top;
  width: 68%;
  padding: 10px;
}

aside {
  background-color: linen;
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

ul {
  list-style: none;
  padding: 0;
}

.page-footer {
  text-align: center;
}
