/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
  color:black; 
}


.form {
  display: flex;
  flex-direction: column;

}

.show-game {
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

img {
  width:100%;
}

.delete-edit {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-end;
}

.index-game {
  display: flex;
  width: 22%;
  flex-direction: row;
  flex-wrap: wrap;
}

.foo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}