<h1>login</h1>

<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">email</label>
  <input name="email" type="text">
  <label for="">password</label>
  <input name="password" type="password" >
  <button>login</button>
</form>