
<h3>Which throw will you choose to defeat the rails ghost?</h3>
<form class='rps-throw' action="/rps/throw">
  <i class="far fa-hand-rock"></i>
  <input name='throw' type="submit" value="rock">
</form>
<form class='rps-throw' action="/rps/throw">
  <i class="far fa-hand-peace"></i>
  <input name='throw' type="submit" value="scissors">
</form>
<form class='rps-throw' action="/rps/throw">
  <i class="far fa-hand-paper"></i>
  <input name='throw' type="submit" value="paper">
</form>


