<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>四字熟語</title>
  <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body style="background-color:<%= color %>;">
  <% if (name) { %>
    <h1>Hi <%= name %>, learn a Japanese sayings</h1>
  <% } else { %>
    <h1>Learn a Japanese sayings</h1>
  <% }; %>
  <div title="" class="japanese"><%= saying[0] %></div> 
  <div class="translation"><%= saying[1] %></div> 
  
</body>
</html>