* {
  box-sizing: border-box;
}

body {
  height: 530px;
  margin: 0;
  filter: invert(0%);
}

.sky {
  background-color: skyblue;
  height: 48%;
}

.grass {
  height: 4%;
  background-color: green;
}

.ground {
  height: 48%;
  background-color: limegreen;
}

button {
  background-color: white;
  font-size: 2em;
  color: black;
  border: none;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  -webkit-box-shadow: 10px 11px 11px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 11px 11px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 11px 11px -6px rgba(0,0,0,0.75);
}