<div class="about-text">
  <h2>About Movie Shock</h2>
  <article>Movie Shock in an app that lets the user search the <a href="http://www.omdbapi.com/">Open Movie Database</a>. It queries the API and returns the first ten matches to the users search term. The user can then find out more information about any movie on the list that interests them.  
  </article>
  <article>The app is run on a <a href="www.http://sinatrarb.com/">Sinatra server</a> and programmed in Ruby language. This combination makes it possible for the server to listen for the users search input, interact with the movie database through the API, and parse the response to generate the desired content.
  </article>
  <article >Currently, the app only returns the first ten search results. In the future it will let the user move  forwards and backwards through pages of search results, allowing them to find all matches for the search.
  </article>
  
</div>